header {
  height: 4rem;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: stretch;
}
header .navbar-collapse {
  flex-grow: 0;
  align-items: stretch;
}
header .navbar-nav {
  height: 100%;
}
header .nav-link {
  padding: 0 2rem !important;
  line-height: 4rem;
}
header .nav-item {
  vertical-align: middle;
  align-items: stretch;
}
header .container-fluid,
header .collapse {
  height: 100%;
}
header .active {
  background-color: #484848;
  color: #ffaa00 !important;
}
header .navbar-collapse {
  background-color: #333333;
}
header .navbar-collapse a:hover {
  background-color: #484848;
  color: #ffaa00 !important;
}
header .nav-item {
  background-color: #333333;
}
header .navbar {
  padding: 0;
}
.banner ul {
  list-style: none;
  padding: 0;
}
.banner ul li img {
  width: 100%;
  margin: 0 auto;
}
.title h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-left: 0.5rem solid #ffaa00;
  padding-left: 0.5rem;
}
.service {
  text-align: center;
}
.service .card {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5rem;
}
.service .card a {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 1s;
}
.service .card a .card-body span {
  text-decoration: none;
  color: #ffaa00;
  border-radius: 0.5rem;
  display: inline-block;
  border: 1px solid #ffaa00;
  padding: 0.5rem 2.5rem;
  font-size: 0.8rem;
  background-color: #fffaf1;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.service .card a .card-body span:hover {
  color: #fff;
  border: 1px solid #ffaa00;
  background-color: #ffaa00;
}
.service .card a .card-body .card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-weight: normal;
  color: black;
}
.service .card a:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.service .card-img-top {
  width: 10rem;
  margin: 1.2rem auto;
}
.service p {
  margin-bottom: 0.2rem;
  font-size: 0.5rem;
  color: #666666;
}
.case_list .card {
  position: relative;
  border: none;
  border-radius: 2rem;
}
.case_list .card img {
  border-radius: 0.5rem;
  transition: all 1s;
}
.case_list .card img:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.case_list a {
  color: #666666;
  display: block;
  height: 100%;
}
.case_list .card-body {
  position: absolute;
  bottom: 7.5%;
  left: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  width: 85%;
  transition: all 1s;
}
.case_list .card-body .card-title {
  font-size: 1.05rem;
}
.case_list .card-body .card-text .card-time {
  float: left;
  font-size: 0.8rem;
  color: #666666;
}
.case_list .card-body .card-text .card-price {
  float: right;
  font-size: 0.8rem;
  color: #ffaa00;
}
.case_list .card-body:hover {
  transform: translate(0, -20px);
}
.online {
  margin-top: 3rem;
}
.online img {
  width: 100%;
}
.star .col-4,
.star .col,
.star .col-2 {
  padding: 0;
}
.star .star_g img {
  width: 100%;
}
.star .star_text {
  display: inline-flex;
  align-items: flex-end;
}
.star .star_text .star_con {
  width: 100%;
  height: 24rem;
  background-color: #f6f6f6;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
}
.star .star_text .star_con .star-title {
  overflow: hidden;
  margin-bottom: 1rem;
}
.star .star_text .star_con .star-title h3 {
  float: left;
  font-size: 1.5rem;
}
.star .star_text .star_con .star-title span {
  float: left;
  margin-top: 0.2rem;
  margin-left: 1rem;
  color: #999999;
}
.star .star_text .star_con p {
  clear: both;
  color: #666666;
  font-size: 0.8rem;
  line-height: 1.6rem;
}
.star .star_s {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.star .star_s img {
  height: 10rem;
}
.star .star_s a {
  display: block;
  border: 0.3rem solid transparent;
  border-radius: 0.5rem;
  transition: all 0.8s;
}
.star .star_s a:hover {
  border: 0.3rem solid #ffaa00;
}
.inf .card {
  border: none;
  background-color: #f8f8f8;
}
.inf .card-head {
  display: inline-block;
  height: 10rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 0.3rem 0.3rem 0 0;
  background: url(../images/inf01.png) no-repeat;
}
.inf .card-head h2 {
  margin-top: 3rem;
}
.inf .card-body {
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 0 0 0.3rem 0.3rem;
}
.inf .card-body li {
  border-bottom: 1px solid #eeeeee;
  height: 3.5rem;
  line-height: 3.5rem;
}
.inf .card-body li a {
  text-decoration: none;
  padding: 0 1rem;
  display: block;
  color: #333333;
  height: 100%;
}
.inf .card-body li a p {
  float: left;
  padding: 0;
  margin: 0;
}
.inf .card-body li a span {
  float: right;
  color: #666666;
}
.inf .card-body li a:hover {
  color: #ffaa00;
  text-decoration: underline !important;
}
.inf .card-body li a:hover span {
  color: #ffaa00;
}
.inf .card-body li:last-child {
  border: none;
}
.inf form {
  float: right;
  margin: 0 auto;
  width: 20rem;
  background-color: #f8f8f8;
  border-radius: 0.3rem;
}
.inf form h2 {
  color: #333333;
  font-size: 36px;
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}
.inf form p {
  font-size: #333333;
  margin-bottom: 0;
  font-weight: 600;
}
.inf form input,
.inf select {
  width: 20rem;
  height: 2.5rem;
  outline: snow;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px 0 1rem 0;
  padding: 0 10px;
  font-size: #333333;
}
.inf form label {
  font-size: 1rem;
  font-weight: bold;
}
.inf .layui-form-select dl dd.layui-this {
  background-color: #ffaa00;
}
.inf form button {
  width: 20rem;
  height: 3rem;
  background-color: #ffaa00;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
}
footer {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
  background-color: #1a1a1a;
}
footer .foot_logo {
  padding-top: 3rem;
  color: #fff;
  font-size: 3rem;
}
footer .foot_logo span {
  color: #ffaa00;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3rem !important;
}
footer ul li {
  color: #3c3c3c !important;
  font-size: 1rem;
}
.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
  /* width: 100%; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 3rem;
}
.swiper-pagination-bullet {
  width: 2rem;
  height: 0.4rem;
  border-radius: 0.4rem;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ffaa00;
}
