header {
  height: 4rem;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: stretch;
}
header .navbar-collapse {
  flex-grow: 0;
  align-items: stretch;
}
header .navbar-nav {
  height: 100%;
}
header .nav-link {
  padding: 0 2rem !important;
  line-height: 4rem;
}
header .nav-item {
  vertical-align: middle;
  align-items: stretch;
}
header .container-fluid,
header .collapse {
  height: 100%;
}
header .active {
  background-color: #484848;
  color: #ffaa00 !important;
}
header .navbar-collapse {
  background-color: #333333;
}
header .navbar-collapse a:hover {
  background-color: #484848;
  color: #ffaa00 !important;
}
header .nav-item {
  background-color: #333333;
}
header .navbar {
  padding: 0;
}
.banner ul {
  list-style: none;
  padding: 0;
}
.banner ul li img {
  width: 100%;
  margin: 0 auto;
}
.title h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-left: 0.5rem solid #ffaa00;
  padding-left: 0.5rem;
}
.service {
  text-align: center;
}
.service .card {
  background-color: #f8f8f8;
  border: none;
  border-radius: 0.5rem;
}
.service .card-img-top {
  width: 10rem;
  margin: 1.2rem auto;
}
.service p {
  margin-bottom: 0.2rem;
  font-size: 0.5rem;
  color: #666666;
}
.service .card-body a {
  text-decoration: none;
  color: #ffaa00;
  border-radius: 0.5rem;
  display: inline-block;
  border: 1px solid #ffaa00;
  padding: 0.5rem 2.5rem;
  font-size: 0.8rem;
  background-color: #fffaf1;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.service .card-body .card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.case_list .card {
  position: relative;
  border: none;
  border-radius: 2rem;
}
.case_list .card img {
  border-radius: 0.5rem;
}
.case_list .card-body {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.3rem;
  width: 22rem;
}
.case_list .card-body .card-title {
  font-size: 1.05rem;
}
.case_list .card-body .card-text .card-time {
  float: left;
  font-size: 0.8rem;
  color: #666666;
}
.case_list .card-body .card-text .card-price {
  float: right;
  font-size: 0.8rem;
  color: #ffaa00;
}
.online {
  margin-top: 3rem;
}
.online img {
  width: 100%;
}
