header{
    height: 4rem;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: stretch;
    .navbar-collapse{
        flex-grow: 0;
        align-items: stretch;
    }
    .navbar-nav{
        height: 100%;
    }
    .nav-link{
        padding: 0 2rem !important;
        line-height: 4rem;
    }
    .nav-item{
        vertical-align: middle;  
        align-items: stretch;
    }
    .container-fluid,.collapse {
        height: 100%;
    }
    .active{
        background-color: #484848;
        color: #ffaa00 !important;
    }
    .navbar-collapse{
        background-color: #333333;
        a:hover{
            background-color: #484848;
            color: #ffaa00 !important;
        }
    }
    .nav-item{
        background-color: #333333;  
    }
        .navbar{
        padding: 0;
    }
}
.banner{
    ul{
        list-style: none;
        padding: 0;
        li{
            img{
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}
.title{
    h2{
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-left: .5rem solid #ffaa00;
        padding-left: .5rem;
    }
}
.service{
    text-align: center;
    .card {
       background-color: #f8f8f8;
       border: none;
       border-radius: .5rem;
    }
    .card-img-top{
        width: 10rem;
        margin: 1.2rem auto;
    }
    p{
        margin-bottom: .2rem;
        font-size: .5rem;
        color: #666666;
    }
    .card-body{
        a{
            text-decoration: none;
            color: #ffaa00;
            border-radius: .5rem;
            display: inline-block;
            border: 1px solid #ffaa00;
            padding: .5rem 2.5rem;
            font-size: .8rem;
            background-color: #fffaf1;
            margin-top: 1rem;
            margin-bottom: .3rem;
        }
        .card-title{
            font-weight: bold;
            margin-bottom: .5rem;
        }

    }
   
}
.case_list{
    .card{
        position: relative;
        border: none;
        border-radius: 2rem;
        img{
            border-radius: .5rem; 
        }
    }
    .card-body{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        background-color: rgba(255, 255, 255, .8);
        border-radius: .3rem;
        width: 22rem;
        .card-title{
            font-size: 1.05rem;   
        }
        .card-text{
            .card-time{
                float: left;
                font-size: .8rem;
                color: #666666;;
            }
            .card-price{
                float: right;
                font-size: .8rem;
                color: #ffaa00;
            }
        }
    }
}
.online{
    margin-top: 3rem;
    img{
        width: 100%;
    }
}
.star{
    .col-4,.col,.col-2{
        padding: 0;
    }
    .star_g{
        img{
            width: 100%;
        }
    }
    .star_text{
        display: inline-flex;
        align-items: flex-end; 
        .star_con{
            width: 100%;
            height: 24rem;
            background-color: #f6f6f6;
            padding-left: 3rem;
            padding-top: 3rem;
            padding-right: 3rem;
            .star-title{
                overflow: hidden;
                margin-bottom: 1rem;
                
                h3{
                    float: left;
                    font-size: 1.5rem;
                }
                span{
                    float: left;
                    margin-top: .2rem;
                    margin-left: 1rem;
                    color: #999999;
                }
               
            }
            p{
                clear: both;
                color: #666666;
                font-size: .8rem;
                line-height: 1.6rem;
            }
        }
    }
    .star_s{
        margin: 0;
        padding: 0;
       
        display: flex;
        list-style: none;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        img{
            height: 10rem;
           
        }
        a{
            display: block;
            border: .3rem solid  transparent;
            border-radius: .5rem;
        }
        a:hover{
            border: .3rem solid #ffaa00;
        }
    }
}
.inf{
    .card{
        // border-radius: .3rem;
        border: none;
    }
    .card-head{
        display: inline-block;
        height: 10rem;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-radius: .3rem .3rem 0 0;
        background: url(../images/inf01.png) no-repeat;
        h2{
            margin-top: 3rem;
        }
    }
    .card-body{
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #f8f8f8;
        border-radius: 0 0 .3rem .3rem;
        li{
            border-bottom: 1px solid #eeeeee;
            height: 4.5rem;
            line-height: 4.5rem;
            a{
                text-decoration: none;
                padding: 0 1rem;
                display: block;
                color: #333333;
                p{
                    float: left;
                    padding: 0;
                    margin:0;
                }
                span{
                    float: right;
                    color: #666666;
                }
            }
        }
        li:last-child{
            border: none;
        }
        
    }
    form{
        float:right;
        height: 600px;
        width: 440px;
        padding: 0 40px;
        background-color: #f8f8f8;
        margin-right: 1.25rem;
        border-radius: .3rem;
     }
     form h2{
         color: #333333;
         font-size: 36px;
         text-align: center;
         margin: 20px 0;
     }
     form p{
         font-size: #333333;
         margin-bottom: 0;
         font-weight: 600;
     }
     form input,select{
         width: 340px;
         height: 48px;
         outline: snow;
         border: 1px solid #ccc;
         border-radius: 5px;
         margin: 10px 0 20px 0;
         padding: 0 10px;
         font-size: #333333;
     }
     .layui-unselect{
         width: 340px !important;
     }
     form label{
         color: red;
         margin-left: 5px;
     }
     .layui-form-select dl dd.layui-this {
         background-color: #ffaa00;
     
     }
     form button{
         width: 340px;
         height: 60px;
         background-color: #ffaa00;
         color: #fff;
         border: none;
         margin-top: 10px;
         border-radius: 5px;
         
     }
}
footer{
    height: 15rem;
    width: 100%;
    overflow: hidden;
    margin-top: 4rem;
    background-color: #1a1a1a;
    .foot_logo{
        padding-top: 3rem;
        color: #fff;
        font-size: 3rem;
        span{
            color: #ffaa00;

        }
        
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 3rem !important;
       
        
        li{
            color: #3c3c3c !important;
            font-size: 1rem;
        }
    }
}

