header{
    height: 4rem;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: stretch;
    .navbar-collapse{
        flex-grow: 0;
        align-items: stretch;
    }
    .navbar-nav{
        height: 100%;
    }
    .nav-link{
        padding: 0 2rem !important;
        line-height: 4rem;
    }
    .nav-item{
        vertical-align: middle;  
        align-items: stretch;
    }
    .container-fluid,.collapse {
        height: 100%;
    }
    .active{
        background-color: #484848;
        color: #ffaa00 !important;
    }
    .navbar-collapse{
        background-color: #333333;
        a:hover{
            background-color: #484848;
            color: #ffaa00 !important;
        }
    }
    .nav-item{
        background-color: #333333;  
    }
        .navbar{
        padding: 0;
    }
}
.banner{
    ul{
        list-style: none;
        padding: 0;
        li{
            img{
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}
.title{
    h2{
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-left: .5rem solid #ffaa00;
        padding-left: .5rem;
    }
}
.service{
    text-align: center;
    .card {
       background-color: #f8f8f8;
       border: none;
       border-radius: .5rem;
    }
    .card-img-top{
        width: 10rem;
        margin: 1.2rem auto;
    }
    p{
        margin-bottom: .2rem;
        font-size: .5rem;
        color: #666666;
    }
    .card-body{
        a{
            text-decoration: none;
            color: #ffaa00;
            border-radius: .5rem;
            display: inline-block;
            border: 1px solid #ffaa00;
            padding: .5rem 2.5rem;
            font-size: .8rem;
            background-color: #fffaf1;
            margin-top: 1rem;
            margin-bottom: .3rem;
        }
        .card-title{
            font-weight: bold;
            margin-bottom: .5rem;
        }

    }
   
}
.case_list{
    .card{
        position: relative;
        border: none;
        border-radius: 2rem;
        img{
            border-radius: .5rem; 
        }
    }
    .card-body{
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        background-color: rgba(255, 255, 255, .8);
        border-radius: .3rem;
        width: 22rem;
        .card-title{
            font-size: 1.05rem;   
        }
        .card-text{
            .card-time{
                float: left;
                font-size: .8rem;
                color: #666666;;
            }
            .card-price{
                float: right;
                font-size: .8rem;
                color: #ffaa00;
            }
        }
    }
}
