header{
    height: 4rem;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: stretch;
    .navbar-collapse{
        flex-grow: 0;
        align-items: stretch;
    }
    .navbar-nav{
        height: 100%;
    }
    .nav-link{
        padding: 0 2rem !important;
        line-height: 4rem;
    }
    .nav-item{
        vertical-align: middle;  
        align-items: stretch;
    }
    .container-fluid,.collapse {
        height: 100%;
    }
    .active{
        background-color: #484848;
        color: #ffaa00 !important;
    }
    .navbar-collapse{
        background-color: #333333;
        a:hover{
            background-color: #484848;
            color: #ffaa00 !important;
        }
    }
    .nav-item{
        background-color: #333333;  
    }
        .navbar{
        padding: 0;
    }
}
.banner{
    ul{
        list-style: none;
        padding: 0;
        li{
            img{
                width: 100%;
            }
        }
    }
}
